### Stack Overflow Developer Survey 2019 - Data Collection through a survey

A survey dataset in .csv format conducted on the Stack Overflow website in 2019 with comparisons of twos years. <br>
<b>Data Wrangling</b> process is the taken place to clean up the dataset and prepare it to be ready for data analysis. It involves tasks such as identifying and removing duplicate rows, finding and imputing missing values, removing outliers and normalizing the data.

### Data Wrangling

In [2]:
import pandas as pd

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

<b> Finding duplicates </b>

In [3]:
df.duplicated(keep = 'first').sum()

154

<b> Removing duplicates </b>

In [4]:
df.drop_duplicates(ignore_index = True, inplace = True)

In [5]:
# verifying whether the duplicates were actually dropped
df.duplicated(keep = 'first').sum()

0

In [7]:
df.shape

(11398, 85)

In [8]:
df["Respondent"].nunique

<bound method IndexOpsMixin.nunique of 0            4
1            9
2           13
3           16
4           17
         ...
11393    25136
11394    25137
11395    25138
11396    25141
11397    25142
Name: Respondent, Length: 11398, dtype: int64>

<b> Finding Missing Values</b>

In [9]:
# Finding missing values for all columns
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [10]:
# Finding how many rows are missing in the column 'WorkLoc'
df['WorkLoc'].isnull().sum()

32

<b>Imputing Missing Values</b>

In [12]:
# Finding values counts for the column WorkLoc
df["WorkLoc"].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [13]:
# Identifying the value that is most frequent (majority) in the WorkLoc column.
# --> Office

## Imputing (Replacing) all empty rows in the column WorkLoc with the value that
## held the most majorit ('Office').

df["WorkLoc"].fillna(value = "Office", inplace = True)

In [14]:
# Verifying the imputation operation's success
df['WorkLoc'].isnull().sum()

0

<b> Normalizing data </b>

There are two columns in the dataset that talks about compensation. <br>

1. "CompFreq", which shows how often a developer is paid (Yearly, Monthly or Weekly).
2. "CompTotal", which shows how much a developer is paid per Year, Month or Week - depending on their "CompFreq"

=> this will make it difficutl to compare the total compensation of the developers, thus: <br>

A new column will be created "NormalizedAnnualCompensation' which will contain 'Annual Compensation' irrespective of the 'CompFreq'.

Creating this column, will make it easier to compare salaries.

In [15]:
# Listing various categories in the column 'CompFreq'
df["CompFreq"].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [17]:
# Creating a new column named "NormalizedAnnualCompensation"
df["CompFreq"].replace(to_replace = "Yearly", value = 1, inplace = True)
df["CompFreq"].replace(to_replace = "Monthly", value = 12, inplace = True)
df["CompFreq"].replace(to_replace = "Weekly", value = 52, inplace = True)
df["CompFreq"].unique()
df["CompFreq"].value_counts()

1.0     6073
12.0    4788
52.0     331
Name: CompFreq, dtype: int64

In [18]:
df['NormalizedAnnualCompensation'] = df["CompTotal"] * df["CompFreq"]
df['NormalizedAnnualCompensation']

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11393    130000.0
11394     74400.0
11395    105000.0
11396     80000.0
11397         NaN
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64